.container div {
    width: 100px;
    height: 100px;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}