.container div {
    width: 100px;
    height: 100px;
}

.red{
    background-color: red;
    height: 180px !important;
}
.green{
    background-color: green;
    height: 80px !important;
}
.blue{
    background-color: blue;
}

.container{
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}